/* Estilos de la barra de navegación */
.custom-links a {
    color: white; /* Color de las letras */
    text-decoration: none; /* Sin subrayado por defecto */
    position: relative; /* Necesario para la barra inferior */
}

.custom-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Grosor de la barra */
    left: 0;
    bottom: -5px; /* Ajusta la posición de la barra */
    background-color: white; /* Color de la barra */
    transition: width 0.3s ease; /* Efecto de transición al hacer hover */
}

.custom-links a:hover::after {
    width: 100%; /* La barra se extiende cuando pasas el cursor */
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Recetas populares */
.row {
    margin-bottom: 30px;
}

.card img {
    border-radius: 10px;
}

/* Estilos para la sección "Nutriendo cada paladar" */
.bg-light {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
}
