/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
}

/* Estilos del hero section */
.hero {
    padding: 100px 0;
    background-color: #f8f9fa;
}

.hero p {
    font-size: 1.1rem;
    line-height: 1.8;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}

/* Estilos de la barra de navegación */
.custom-links a {
    color: white; /* Color de las letras */
    text-decoration: none; /* Sin subrayado por defecto */
    position: relative; /* Necesario para la barra inferior */
}

.custom-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Grosor de la barra */
    left: 0;
    bottom: -5px; /* Ajusta la posición de la barra */
    background-color: white; /* Color de la barra */
    transition: width 0.3s ease; /* Efecto de transición al hacer hover */
}

.custom-links a:hover::after {
    width: 100%; /* La barra se extiende cuando pasas el cursor */
}

/* Ajuste del margen en las imágenes */
img {
    margin-bottom: 15px;
}

/* Estilos para la sección de suscripción */
.suscripcion {
    background-color: #ff6f61;
    border-radius: 15px;
    margin: 40px 0;
}

.suscripcion h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.suscripcion p {
    font-size: 1.2rem;
}

/* Estilos del footer */
.social-icons img {
    width: 24px;
    margin: 0 10px;
}
/* Recetas populares */
.row {
    margin-bottom: 30px;
}

.card img {
    border-radius: 10px;
}